body {
    background-color: rgb(228, 234, 236);
}

nav {
    background-color: white;
    height: 80px;
}

#lineaAzul {
    width: 98.3%;
    border: 5px #4097c9 solid;
    margin-bottom: -8px;
}

#fotos {
    margin: 5px;
    padding: 5%;
    background-color: white;
}

.row {
    margin-top: 20px;
}


/* Acerca de */

#acercade {
    display: grid;
    grid-template-columns: 30%, 70%;
    grid-column-gap: 1em;
}

#fotoPerfil {
    grid-column: 1;
    text-align: center;
    margin-top: 30%;
}

#fotoPerfil img {
    padding: 10%;
}

#datos {
    grid-column: 2;
}

@media screen and (max-width:1200px) {
    #acercade {
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 0;
        grid-column-gap: 1em;
        justify-content: center;
    }
    #fotoPerfil {
        grid-row: 1;
        text-align: center;
        margin-top: 30%;
        margin-left: 50%;
        margin-bottom: 10px;
    }
    #datos {
        grid-row: 2;
    }
}


/* Contacto formulario */

#contacto {
    text-align: center;
}

#contacto h1 {
    margin: 30px;
}

input {
    margin: 1%;
    width: 30%;
    height: 50px;
    border: hidden;
}

textarea {
    width: 62.5%;
    border: hidden;
}


/* Logos footer */

#footer {
    padding: 10%;
}

#footer div img {
    margin-left: 18px;
}